<div>
  <section class="wrapper">
    <div class="container">
      <div class="row">
        <div *ngFor="let i of info" class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div
            class="card text-dark card-has-bg click-col"
            style="
              background-image: url('{{i.img}}');
            "
          >
            <img
              class="card-img d-none"
              src="{{i.img}}"
              alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?"
            />
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">{{i.marca}}</small>
                <h4 class="card-title mt-0">
                  <a class="text-dark" herf="https://creativemanner.com"
                    >{{i.titulo}}</a
                  >
                </h4>
                <small><i class="far fa-clock"></i> October 15, 2020</small>
              </div>
              <div class="card-footer">
                <div class="media">
                  <img
                    class="mr-3 rounded-circle"
                    src=""
                    alt="{{i.alt}}"
                    style="max-width: 50px; max-height: 50px;"
                  />
                  <div class="media-body">
                    <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                    <small>Director of UI/UX</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
